.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-elevation-z8{
    min-width: 600px;
    max-width: 600px;
    width: 100%;
}

.add-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    justify-content: center;
    text-align: center;
   text-decoration: aliceblue;
}