<app-header></app-header>
<div class="main-div">
    <mat-card>
        <table mat-table [dataSource]="usuarios" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> id </th>
              <td mat-cell *matCellDef="let usuario"> {{usuario.id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="fullname">
              <th mat-header-cell *matHeaderCellDef> fullname </th>
              <td mat-cell *matCellDef="let usuario"> {{usuario.fullname}} </td>
            </ng-container>
          
            <!-- Email Column -->
            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef> address </th>
              <td mat-cell *matCellDef="let usuario"> {{usuario.address}} </td>
            </ng-container>

            <!-- Age Column -->
            <ng-container matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef> age </th>
              <td mat-cell *matCellDef="let usuario"> {{usuario.age}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-card>
</div>
