<div class="main-div">

  <mat-card>
    <form class="register-form" [formGroup]="registerFormGroup" >
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password1" formControlName="password1">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label> Confirm Password</mat-label>
          <input matInput type="password" placeholder="Password2" formControlName="password2">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>User</mat-label>
        <input matInput placeholder="User" formControlName="username">
    </mat-form-field>

        <button class="example-full-width" [disabled]="registerFormGroup.invalid" mat-raised-button color="primary" (click)="goLogin()">Register</button>
        <br>
        <br>
    </form>
</mat-card>

</div>