.center{
    text-align: center;
    margin-top: 7px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.formulario{
   
    transform: translate(23,-1%);
}


.card-header{
    background: linear-gradient(to right, #2B32B2, #1488CC); 
    color:white;
    }